@import "./variables.scss";

.section{
    max-width: 1000px;
    display: flex;
    flex-direction: column;
    padding-bottom: 250px;
    margin: 40px auto;
    color: $brand-charcoal;
    h1{
        font-size: 2rem;
        text-align: center;
    }
    p{
        font-size: 1.5rem;
        margin: 20px 0;
    }
    >div{
     margin-bottom: 40px;
    }
}