@import "./variables.scss";

.section{
    max-width: 1200px;
    display: flex;
    flex-direction: column;
    padding-bottom: 250px;
    margin: 40px auto;
    color: $brand-charcoal;
    h1{
        font-size: 2rem;
        text-align: center;
    }
    p{
        font-size: 1.5rem;
        margin: 20px 0;
    }
    >div{
     margin-bottom: 40px;
    }
    .ilustration{
        display: block;
        width: 70%;
        margin: auto;
    }
    .v-list-item-title{
        white-space: normal;
        text-overflow: none;
    }
}
@media screen and (max-width: 1200px){
    .section{
        margin: 40px;
    }
}
@media screen and (max-width: 960px){
    .section{
        padding-bottom: 0;
    }
}
@media screen and (max-width: 600px){
    .ilustration{
        display: block;
        width: 50%;
        margin: auto;
    }
}