@import "./variables.scss";

footer{
    background-color: $brand-charcoal;
    color: white;
}
.logo-row{
    background-color: $brand-burnt-sienna;
}
// // footer{
// //     position: fixed;
// // }
// // MEDIUM SIZE 960px > < 1280px 
// @media screen and (max-width: 700px){
//     footer{
//         position: relative;
//     }
// }