@import "./variables.scss";
@import "./sections.scss";
.home{
    min-height: 500px;
    margin: 40px auto;
    color: $brand-charcoal;
}
.header{
    overflow: hidden;
    height: 400px;
    .cta{
        text-align: right;
        width: 350px;
        margin: auto;
        margin-top: 125px;
        h1{
            font-size: 2.5em;
            color: $brand-burnt-sienna;
        }
        p{
            font-size: 1.2em;
        }
        a{
            color: white;
        }
    }
    .cta-img{
        position: relative;
        img{
            position:absolute;
            rotate: 355deg;
            top:-60px;
            left:10%;
            width: 80%;
        }
    }
}

@media screen and (max-width: 960px){
    .header{
        height: auto;
        .cta{
            width: 100%;
            margin-top: 0;
            text-align: center;
        }
        .cta-img{
            text-align:center;
            height: auto;
            img{
                display:block;
                top:0;
                left:0;
                position: relative;
                width: 50%;
                margin: auto;
            }
        }
    }
}
@media screen and (max-width: 600px){
    .header .cta-img img{ width: 80%;}
}