@import "./variables.scss";
@import "./sections.scss";
.home{
    min-height: 500px;
    margin: 40px auto;
}
.header{
    overflow: hidden;
    height: 400px;
    .cta{
        text-align: right;
        width: 350px;
        margin: auto;
        margin-top: 125px;
        h1{
            font-size: 2.5em;
            color: $brand-burnt-sienna;
        }
        p{
            font-size: 1.2em;
        }
        a{
            color: white;
        }
    }
    .cta-img{
        position: relative;
        img{
            position:absolute;
            rotate: 355deg;
            top:-60px;
            left:10%;
            width: 80%;
        }
    }
}