@import "./variables.scss";

footer{
    background-color: $brand-burnt-sienna;
    color: white;
}
.insurance-logo{
    img{
        max-width: 120px;
        filter: grayscale(50%);
        &:hover{
            filter: grayscale(0%);
        }
    }
}